@use "../variables/variables" as v;
@use "../variables/mixins" as m;

.header {
  padding: 5rem 0;
  position: relative;

  @include m.telefono{
    padding: 2rem 0;
  }
  @include m.tablet{
    padding: 3rem 0;
  }

  @include m.desktop{
    padding: 2rem 0;
  }

  &::before {
    content: "";
    background-color: v.$negro;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }

  .contenido-header {
    margin-top: 5rem;
    position: relative;
  }
}

// header de cada pagina

.header-inicio {
  background-image: url(../img/header_inicio.jpg);
}
