@use "variables/variables" as v;
@use "variables/mixins" as m;

.contenido-principal {
  background-color: v.$blanco;
  padding: 2rem;

  @include m.tablet {
    padding: -10rem;
    position: relative;
  }
}
