@use "variables/variables" as v;
@use "variables/mixins" as m;

.contenido-principal{
    background-color: v.$blanco;
    padding: 5rem 2rem;
    
    @include m.tablet{
        padding: 10rem;
        margin-top: -10rem;
       position: relative;
    }
}