@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  background-color: v.$cafe_claro_2;
}

p {
  color: v.$negro;
  font-size: 1.6rem;
  line-height: 2;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 v.$separacion_pequena 0;
}

h1{
    font-size: 4rem;
}


h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3.2rem;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0
}