@use 'variables' as v;



h1, h2, h3, h4, h5, h6 {
    font-family: v.$fuente_principal;
  margin: 0 0 v.$separacion_pequena 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

h1{
    font-size: 4rem;
}


h2{
    font-size: 3.6rem;
    color: v.$color_primario;

    span{
        color: v.$color_secundario;
        font-size: 1.8rem;
        display: block;
    }
}

h3{
    font-size: 3.2rem;
}